.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 4px;
  border-bottom: 1px solid #000;
}

.head {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 30px;
}

.user {
  display: flex;
  align-items: center;
}

.account {
  font-weight: 700;
  padding-left: 10px;
  font-size: 16px;
}

.category {
  text-align: center;
}

.category a {
  color: black;
  padding: 0 20px;
  font-size: 16px;
}
